.card {
    width: 400px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    text-align: center;
}
.details {
  margin: 10 px;
  padding: 10px;
}

.details summary{
  font-size: 12px;
}

.buttons {
  display: block;
}

.buttons button:focus, 
.buttons button:hover {
  background-color: pink;
}

.buttons button:active {
  bakground-color: blue;
}

.button[data-toggle-btn] {
  padding: 10px;
  font-size: 15px;
  display: block;
}

@media only screen and (max-width: 1200px){
  .wrapper {
    background-color: pink;
  }
}
@media only screen and (max-width: 600px){
  .wrapper {
    background-color: purple;
  }
}
@media only screen and (max-width: 425px){
  .wrapper {
    font-weight: normal;
  }
  .wrapper .header h3 {
    font-size: 12px;
  }
  .wrapper .header h4 {
    font-size: 10px !important;
  }
  details {
    display: none;
  }
}